.burger_modal {
  /* width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  margin-top: 140px;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 80px;
  left: 0;
  transform: translateX(-100%);
  z-index: 100;
  transition: linear 0.5s; */
  opacity: 0;
  background-color: #264061;
  position: fixed;
  z-index: 10;
  top: 66px;
  left: 100%;
  width: 100vw;
  height: 100vh;
  padding: 48px 20px;
  padding-top: 97px;
  overflow-y: hidden;
  visibility: visible;
}
.burger_modal_active {
  /* transform: translateX(0);
  transition: linear 0.5s;
  z-index: 100; */
  opacity: 1;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}

.burger_modal_closed {
  opacity: 0;
  left: 100%;
  transform: translateX(100%);
  transition: all 0.3s linear;
}

.burger_login_navlinks {
  display: flex;
  flex-direction: column;
}

.burger_linknav {
  color: #ffffff;
  font-family: "Verdana", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.burger_linknav:not(:last-child) {
  margin-bottom: 20px;
}
