*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
P {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

@font-face {
  font-family: "Verdana Regular";
  src: url("./components/fonts/Verdana.eot");
  src: url("./components/fonts/Verdana.eot?#iefix") format("embedded-opentype"),
    url("./components/fonts/Verdana.woff") format("woff"),
    url("./components/fonts/Verdana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verdana Bold";
  src: url("./components/fonts/Verdana-Bold.eot");
  src: url("./components/fonts/Verdana-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./components/fonts/Verdana-Bold.woff") format("woff"),
    url("./components/fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Light";
  src: url("./components/fonts/GothamPro-Light.eot");
  src: url("./components/fonts/GothamPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./components/fonts/GothamPro-Light.woff") format("woff"),
    url("./components/fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: local("Gotham Pro Bold"), local("Gotham-Pro-Bold"),
    url("./components/fonts/GothamPro-Bold.woff2") format("woff2"),
    url("./components/fonts/GothamPro-Bold.woff") format("woff"),
    url("./components/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Verdana Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .SlimMom {
    background-image: url(./assets/images/tablet/tabletStrawberry1xtop.png),
      url(./assets/images/tablet/tabletleaflets1xtop.png),
      url(./assets/images/tablet/bananaTablet1x.png),
      url(./assets/images/tablet/tabletBg1x.png);
    background-repeat: no-repeat;
    background-position: bottom 170px right, bottom left, bottom right,
      bottom right;
    background-size: 308px 390px, 602px 601px, 491px 547px, 521px 674px;
    /* width: 768px; */
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .SlimMom {
    background-image: url(./assets/images/tablet/tabletStrawberry2xtop.png),
      url(./assets/images/tablet/tabletleaflets2xtop.png),
      url(./assets/images/tablet/bananaTablet2x.png),
      url(./assets/images/tablet/tabletBg2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .SlimMom {
    background-image: url(./assets/images/desctop/desktop1x.png),
      url(./assets/images/desctop/desctopBg1x.png);
    background-repeat: no-repeat;
    background-position: bottom 70px right, bottom right;
    background-size: 812px 659px, 501px 659px;
    /* min-width: 1280px; */
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .SlimMom {
    background-image: url(./assets/images/desctop/desktop2x.png),
      url(./assets/images/desctop/desctopBg2x.png);
  }
}

@media screen and (min-width: 768px) {
  .SlimLogin {
    background-image: url(./assets/images/tablet/tabletStrawberry1x.png),
      url(./assets/images/tablet/tabletleaflets1x.png),
      url(./assets/images/tablet/bananaTablet1x.png),
      url(./assets/images/tablet/tabletBg1x.png);
    background-position: bottom 200px right, bottom 260px right, bottom right,
      bottom right;
    background-repeat: no-repeat;
    background-size: 305px 384px, 740px 745px, 491px 431px, 521px 563px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .SlimLogin {
    background-image: url(./assets/images/tablet/tabletStrawberry2x.png),
      url(./assets/images/tablet/tabletleaflets2x.png),
      url(./assets/images/tablet/bananaTablet2x.png),
      url(./assets/images/tablet/tabletBg2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .SlimLogin {
    background-image: url(./assets/images/desctop/descktop.fruites.register.png),
      url(./assets/images/desctop/desctopBg1x.png);
    background-position: bottom right;
    background-size: 941px 850px, 603px 816px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .SlimLogin {
    background-image: url(./assets/images/desctop/descktop.fruites.register-2x.png),
      url(./assets/images/desctop/desctopBg2x.png);
  }
}


@media screen and (min-width: 320px) {
  .SlimCalc {
    background-image: linear-gradient(to bottom, #ffffff 58%, #f0f1f3 58%);
  }
}
@media screen and (min-width: 768px) {
  .SlimCalc {
    background-image: url(./assets/images/tablet/tabletleafletsBottom1x.png),
      linear-gradient(to bottom, #ffffff 68%, #f0f1f3 68%);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 369px 362px, cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .SlimCalc {
    background-image: url(./assets/images/tablet/tabletleafletsBottom2x.png),
      linear-gradient(to bottom, #ffffff 73%, #f0f1f3 73%);
  }
}
@media screen and (min-width: 1280px) {
  .SlimCalc {
    background-image: url(./assets/images/desctop/Layerdesktop1x.png),
      linear-gradient(to right, #ffffff 55%, #f0f1f3 55%);
    background-size: 505px 815px, cover;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .SlimCalc {
    background-image: url(./assets/images/desctop/Layerdesktop2x.png),
      linear-gradient(to right, #ffffff 55%, #f0f1f3 55%);
  }
}


