@media screen and (min-width: 320px) {
  .section {
    padding-top: 40px;
    height: 433px;
    margin-left: auto;
    margin-right: auto;
  }
  .product {
    margin-top: 40px;
  }

  .kcalList {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.21;
    letter-spacing: 0.04em;
    color: #9b9faa;

    margin-top: 20px;
  }

  .productList {
    overflow-y: scroll;
    height: 112px;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: #9b9faa;

    margin-top: 20px;
  }

  .title {
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: #212121;
  }
}

.kcalItem {
  display: flex;
}
.kcalListSpan {
  margin-left: auto;
  margin-right: 4px;
}

@media screen and (min-width: 768px) {
  .section {
    display: flex;
    height: 350px;
    padding-top: 91px;
  }

  .daySection {
    margin-right: 60px;
    width: 252px;
  }

  .product {
    margin-top: 0px;
  }
  .productList {
    margin-top: 22px;
  }
  .kcalList {
    margin-top: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    display: block;
    padding-top: 160px;
    margin-left: 90px;
  }
  .product {
    margin-top: 60px;
    width: 270px;
  }
  .daySection {
    width: 270px;
  }
}
